*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(226, 226, 226);
}

.container{
  display: flex;
}

nav{
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background: #08002c;
  overflow: hidden;
}

.admin-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 1.5rem 1.5rem 1.5rem 0;
  color: white;
}

.admin-logo img{
  border-radius: 50%;
  margin-right: 10px;
}


.admin-logo span{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 4px;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul .li-container{
  width: 100%;
}

nav ul a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  /* display: flex; */
  /* align-items: center; */
}

nav ul a div{
  padding-bottom: 20px;
}

nav .fas {
  position: relative;
  width: 100px;
  /* height: 40px; */
  top: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
    margin-left: 80px;
}

.admin-logo:hover , ul li:hover{
  background: #fefcfc3b;
}

.logout{
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
}

.logout:hover{
  background-color: rgb(18, 18, 18);
  color: white;
}


/* Main Section */

.main{
  padding: 20px;
  width: 100%;
}

.main-top{
  display: flex;
  width: 100%;
}


/* .main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
} */

.main .users{
  display: flex;
  width: 100%;
}

.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}


.users .card img{
  margin: 20px 0;
  border-radius: 10%;
}

.users .card p{
  margin-bottom: 20px;
  font-size: 15px;
}

.users .card input{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: white;
  border: 1px solid #4AD489;
}

.users .card input:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.modal__wrapper{
  position: fixed;
  left:0;
  top:0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease-in-out;
}

.active{
  opacity: 1;
  pointer-events: auto;
}

.products{
  margin-top: 20px;
}

.products-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.products-list h1{
  margin-top: 10px;
  text-align: center;
}

.table{
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 15px;
  width: 100%;
}

thead tr{
  color: #fff;
  background: #34AF6D;
}

th{
  padding: 12px 50px;
  text-align: start;
}

td{
  padding: 12px 50px;
  text-align: start;
}

tbody{
  padding: 10px 0;
}

tbody tr{
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}