body{
    background-size: 100%;
}

#heading {
    text-align: center;
    color: #3c3c3c;
    font-size: 25px;
}

/* #outline{
    background-color: rgb(255 255 255);
    width: 350px;
    height: 388px;
    box-shadow: 0px 0px 20px 2px rgb(0 0 0);
    border-radius: 4%;
} */

#form {
    background-color: rgb(255 255 255);
    width: 340px;
    height: 405px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
}

.box {
    margin: 26px 0 0px 42px;
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #e7dede;
}

.close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.close{
    color: rgb(163, 163, 163);
}

.close:hover{
    color: #000000;
}

input{
    margin-top: 22px;
    outline: none;
}

#submit {
    margin: 35px 0 0 112px;
    padding: 13px 30px;
    border: none;
    border-radius: 7%;
    color: white;
    background: #000000;
    font-size: 15px;
}

#submit:hover{
    background: rgb(36, 36, 36);
}